.container {
    max-width: 1000px;
}

.bg-white {
    background-color: #fff;
}

.rounded-xl {
    border-radius: 1rem;
}

.hover\:shadow-2xl:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.fas {
    margin-right: 2px;
}
